extends phone-layout

prepend scripts
    script(src="/javascripts/home/views.app_salao_home.js")
    script(src="/javascripts/home/framer.js")
    script(src="/javascripts/home/framerps.js")
    script(src="/javascripts/home/app.js")