doctype html
html
  head
    meta(charset="utf-8")
        
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=640,initial-scale=0.5,user-scalable=no")

    link(rel='apple-touch-icon-precomposed', href='https://raw.github.com/koenbok/Framer/master/template/icon/apple-touch-icon-144x144-precomposed.png', sizes="144x144")
    link(rel='apple-touch-icon-precomposed', href="https://raw.github.com/koenbok/Framer/master/template/icon/apple-touch-icon-114x114-precomposed.png", sizes="114x114")
    link(rel='apple-touch-icon-precomposed', href="https://raw.github.com/koenbok/Framer/master/template/icon/apple-touch-icon-72x72-precomposed.png", sizes="72x72")
    link(rel='apple-touch-icon-precomposed', href="https://raw.github.com/koenbok/Framer/master/template/icon/apple-touch-icon-precomposed.png")

    link(rel='stylesheet', href='/stylesheets/style.css')

    title Beautify

  body
    script(src="/javascripts/views.app_salao_home.js")
    script(src="/javascripts/framer.js")
    script(src="/javascripts/framerps.js")
    script(src="/javascripts/app.js")