extends layout

block content

    .content

        h1 Escolha o Layout que você deseja ver

        ul
            li
                a(href="/home") Home
            li
                a(href="/salao") Salao escolhido