extends phone-layout

prepend scripts
    script(src="/javascripts/cell-chosen/views.app_salao_chosen.js")
    script(src="/javascripts/cell-chosen/framer.js")
    script(src="/javascripts/cell-chosen/framerps.js")
    script(src="/javascripts/cell-chosen/app.js")