* {
  margin:0;
  padding:0;
  border:none;
  -webkit-user-select:none;
}
body {
  /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFMzMzDBMatgEYWQAAABhJREFUeNpiYIADRjhgGNKCw8UfcAAQYACltADJ8fw9RwAAAABJRU5ErkJggg==);*/
  background-color: black;
  color: #FFF;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-perspective: 1000px;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.framer { display: block; visibility: visible;  position: absolute; top:auto; right:auto; bottom:auto; left:auto; width:auto; height:auto;  overflow: visible;  z-index: 0; opacity: 1; box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transform-origin: 50% 50% 0%; -webkit-transform-style: flat;  -webkit-backface-visibility: hidden;}

.framer-template-positioned { width: 640px; height: 1136px; position: absolute; left: 142.5217391304348px; top: 134.12608695652176px; -webkit-transform: scale(0.41086956521739126); -webkit-transform-origin: 0 0; overflow: hidden;  }


.content {
  vertical-align: middle;
  text-align: center;
}

.content > h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size:50px;
}

.content > ul > li > a{
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 20px;
  border: 1px solid #ef317c;
  width: 80%;
  margin: 20px auto;
  font-size:30px;
}

.content > ul > li > a:hover{
  border: 1px solid #1eff38;
}